<section class="blog blog-featured">
    <div class="container">
        <div
            class="row row-cols-3 row-cols-lg-2 row-cols-sm-1 gx-5 gx-lg-4 gx-sm-0 gy-5 gy-sm-4"
        >
            <div class="col">
                <div class="blog-card">
                    <figure class="avatar">
                        <img
                            src="./img/img-blog/Rectangle 5178.png"
                            alt="avatar"
                        />
                    </figure>

                    <div class="desc">
                        <img src="./img/img-blog/Ellipse 11.png" alt="" />
                        <div class="name">
                            <h4>Mitchell Starc</h4>
                            <p>Attorney at Law</p>
                        </div>
                    </div>
                    <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <figure class="avatar">
                        <img
                            src="./img/img-blog/Rectangle 5178 (1).png"
                            alt="avatar"
                        />
                    </figure>

                    <div class="desc">
                        <img src="./img/img-blog/Ellipse 11.png" alt="" />
                        <div class="name">
                            <h4>Mitchell Starc</h4>
                            <p>Attorney at Law</p>
                        </div>
                    </div>
                    <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="col">
                <div class="blog-card">
                    <figure class="avatar">
                        <img
                            src="./img/img-blog/Rectangle 5178 (2).png"
                            alt="avatar"
                        />
                    </figure>

                    <div class="desc">
                        <img src="./img/img-blog/Ellipse 11.png" alt="" />
                        <div class="name">
                            <h4>Mitchell Starc</h4>
                            <p>Attorney at Law</p>
                        </div>
                    </div>
                    <h3>5 Key Rules of Law in Our Society Must Know in 2022</h3>
                    <a href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
