<section class="blog blog-nav">
    <div class="container">
        <div class="blog-header">
            <h2 class="blog-title">Justice Law Firm Press Releases</h2>
            <nav class="nav">
                <ul class="sub-nav">
                    <li><a href="">All</a></li>
                    <li><a href="">Recent</a></li>
                    <li><a href="">Popular</a></li>
                    <li><a href="">Trending</a></li>
                    <li><a href="">Oldest</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
