<div class="subscribe">
    <div class="container green-bg">
        <div class="row row-cols-1">
            <div class="col">
                <section class="subscribe-heading">
                    <p class="subscribe-tagline">#Newsletter</p>
                    <h2 class="subscribe-title">Subscribe Our Newsletter</h2>
                </section>
                <div class="subscribe-form">
                    <form action="">
                        <input type="text" placeholder="Enter your email" />
                        <button type="submit">Subscribe</button>
                    </form>
                    <p>
                        The latest Law News.
                        <a href="">Stright to your inbox</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
