.black-bg {
    background: #000;
}

.white-bg {
    background: #fff;
}

.green-bg {
    background: #017848;
    width: 100%;
}

.orange-bg {
    background: #fd6038;
    border-radius: 15px;
}

.yellow_light-bg {
    background: #f8ebc9;
}

.yellow_light-bg{
    background: #F8EBC9;
}
