<section class="contact">
    <div class="container">
        <div class="row row-cols-2">
            <div class="col">
                <div class="contact-header">
                    <div class="title"><h2>Contact Us</h2></div>
                    <div class="description">
                        Feel free to contact us and we will get Back to you as
                        soon as we can.
                    </div>
                </div>
                <form action="" class="contact-form">
                    <label for="name" class="label-name">Name</label>
                    <input id="name" type="text" class="input-name" />

                    <label for="email" class="label-email">Email</label>
                    <input id="email" type="email" class="input-email" />

                    <label for="message" class="label-message">Message</label>
                    <textarea
                        name="message"
                        id="message"
                        class="input-message"
                    ></textarea>
                </form>
                <button class="btn-send btn">send Message</button>
            </div>
            <div class="col">
                <div class="info ">
                    <h3 class="info-title">opening hours</h3>
                    <ul class="info-list">
                        <li>Monday - Friday</li>
                        <li>9am - 5pm</li>
                        <li>Weekend</li>
                        <li>Closed</li>
                    </ul>

                    <h3 class="info-title">address</h3>
                    <p>
                        Jln. letjend Suparman 51, <br />
                        Kediri, Jawa Timur64133,<br />
                        indonesia
                    </p>

                    <h3 class="info-title">Contact</h3>
                    <ul class="info-list">
                        <li>hello@lahoi.com</li>
                        <li>+6221 6539-0605</li>
                    </ul>

                    <ul class="social-media">
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-facebook-f"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-linkedin-in"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"
                                ><i class="fa-brands fa-instagram"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
