<div class="subscribe">
    <div class="container orange-bg">
        <div class="row row-cols-1">
            <div class="col">
                <section class="subscribe-heading">
                    <h2 class="subscribe-title">Subscribe to our newsletter</h2>
                    <p class="subscribe-tagline">
                        Reciev latest news, update, and many other things every
                        week.
                    </p>
                </section>
                <div class="subscribe-form">
                    <form action="">
                        <input type="text" placeholder="Enter your email" />
                        <button type="submit">
                            <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
