<div class="testimonials">
    <div class="container">
        <section class="testimonials-heading">
            <p class="testimonials-tagline">testimonials</p>
            <h2 class="testimonials-title">
                Explore featured latest and testimonials
            </h2>
        </section>
        <div class="row row-cols-3">
            <article class="col">
                <div class="testimonials-content">
                    <p class="testimonials-description">
                        Excellent value for money holiday. My questions were all
                        answered promptly and when my consultant was
                        unavailable, another staff member would respond.
                    </p>
                    <ul class="info-list">
                        <li class="list-item">
                            <figure>
                                <img src="./img/img-tes/Ellipse 4.png" alt="" />
                            </figure>
                            <div class="info-desc">
                                <h3 class="info-name">Samantha Bell</h3>
                                <p class="info-location">Tourists</p>
                            </div>
                        </li>
                    </ul>
                    <div class="star">
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="testimonials-content">
                    <p class="testimonials-description">
                        Easy booking no problems with using vouchers or service.
                        Voucher received in mail when we got home. Bonus for
                        next holiday. Thank you
                    </p>
                    <ul class="info-list">
                        <li class="list-item">
                            <figure>
                                <img src="./img/img-tes/Ellipse 5.png" alt="" />
                            </figure>
                            <div class="info-desc">
                                <h3 class="info-name">Carmen Gloria</h3>
                                <p class="info-location">Traveller</p>
                            </div>
                        </li>
                    </ul>
                    <div class="star">
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="testimonials-content">
                    <p class="testimonials-description">
                        Very easy to book a much needed vacation with Travel
                        Online. I loved coming home to a $100 gift voucher to
                        use for my next booking. Just need to decide where to
                        go! Thank you.
                    </p>
                    <ul class="info-list">
                        <li class="list-item">
                            <figure>
                                <img src="./img/img-tes/Ellipse 6.png" alt="" />
                            </figure>
                            <div class="info-desc">
                                <h3 class="info-name">Brydie Cameron</h3>
                                <p class="info-location">Tourists</p>
                            </div>
                        </li>
                    </ul>
                    <div class="star">
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                        <span class="star-shape"></span>
                    </div>
                </div>
            </article>
        </div>

        <div class="row offset-1">
            <div class="col-8">
                <div class="brand">
                    <figure>
                        <img src="./img/img-brand/logos.png" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
