<div class="wrapper awards yellow_light-bg">
    <div class="container">
        <section class="awards-heading">
            <p class="awards-tagline">#awards</p>
            <h2 class="awards-title">Our Honors & Awards</h2>
        </section>
        <div
            class="row g-3 row-cols-4 row-cols-lg-2 row-cols-sm-1 gx-sm-0 gy-4 gy-sm-4"
        >
            <div class="col">
                <div class="awards-item">
                    <div class="img-awards">
                        <img src="./img/img-awards/Card 1.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="awards-item">
                    <div class="img-awards">
                        <img src="./img/img-awards/Card 2.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="awards-item">
                    <div class="img-awards">
                        <img src="./img/img-awards/Card 3.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="awards-item">
                    <div class="img-awards">
                        <img src="./img/img-awards/Card 4.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
