<section class="about-hero">
    <div class="container">
        <div class="row offset-2">
            <div class="col-8">
                <div class="about-hero__content">
                    <p class="about-hero__tagline">#1 Law Firm in New York</p>
                    <h1 class="about-hero__title">
                        Where The Experience To Guide You
                    </h1>
                    <p class="about-hero__description">
                        A law firm with deep expertise in New Jersey residential
                        & investment property transactions and many other
                        things.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
