<div class="story">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-1 g-4 gy-sm-4 gx-sm-0">
            <div class="col">
                <section class="story-content">
                    <p class="story-tagline">#Story</p>
                    <h2 class="story-title">
                        Through And Complete Attention to Law
                    </h2>
                    <p class="story-description">
                        Your initial meeting with Parmele Law Firm sets in
                        motion the difficult – and tedious – process of getting
                        your benefits for you.
                    </p>
                    <p class="story-description">
                        While Mr. Parmele, his paralegals, and clerks are busy
                        assisting you with your forms, helping you assemble your
                        documentation, and keeping you updated regularly, Mr.
                        Parmele is busy behind the scenes, focusing on winning
                        your case.
                    </p>
                    <p class="story-description">
                        How your case ends up may well be up to you.
                    </p>
                </section>
            </div>
            <div class="col">
                <figure class="story-img">
                    <img src="./img/img-about/about-story.png" alt="" />
                    <img src="./img/img-partials/Mask-group.png" alt="" />
                    <img src="./img/img-partials/Rectangle-3.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
