<div class="wrapper team black-bg">
    <div class="container">
        <section class="team-heading">
            <p class="team-tagline">#Team</p>
            <h2 class="team-title">Meet With Lawyers</h2>
            <p class="team-description">
                Our team of experienced team more than $150 Million in
                Settlements and Judgments for Our Clients
            </p>
        </section>
        <div
            class="row g-3 row-cols-3 row-cols-lg-2 row-cols-sm-1 gy-4"
        >
            <div class="col">
                <div class="team-item">
                    <figure class="img-team">
                        <img src="./img/about-team/Rectangle 4592.png" alt="" />
                        <figcaption class="info-team">
                            <h3>David Warner</h3>
                            <p>Attorney at Law</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </figure>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="img-team">
                        <img
                            src="./img/about-team/Rectangle 4592 (1).png"
                            alt=""
                        />

                        <figcaption class="info-team">
                            <h3>Aaron Finch</h3>
                            <p>Founding President</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="img-team">
                        <img
                            src="./img/about-team/Rectangle 4592 (2).png"
                            alt=""
                        />

                        <figcaption class="info-team">
                            <h3>Jamie Watts</h3>
                            <p>Partner</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="img-team">
                        <img
                            src="./img/about-team/Rectangle 4592 (3).png"
                            alt=""
                        />

                        <figcaption class="info-team">
                            <h3>Ellyse Perry</h3>
                            <p>Associate Attorney</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="img-team">
                        <img
                            src="./img/about-team/Rectangle 4592 (4).png"
                            alt=""
                        />
                        <figcaption class="info-team">
                            <h3>Meg Lanning</h3>
                            <p>Senior Partner</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="img-team">
                        <img
                            src="./img/about-team/Rectangle 4592 (5).png"
                            alt=""
                        />
                        <figcaption class="info-team">
                            <h3>Peter Siddle</h3>
                            <p>Of Counsel</p>
                        </figcaption>
                        <button class="btn btn-view">View Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
