<div class="video">
    <div class="container">
        <div class="row offset-2">
            <div class="col-9">
                <section class="video-content">
                    <p class="video-tagline">#video</p>
                    <h1 class="video-title">Our History & Mission</h1>
                    <p class="video-description">
                        Our Law Office provides a professional experience for
                        all our clients, helping them navigate their legal
                        rights.
                    </p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <figure class="video-img">
                    <iframe
                        src="https://www.youtube.com/embed/epYvxORKcLg?si=qo-ujipB6jPYzMwf"
                        title="YouTube video player"
                        frameborder="0"
                        allow="
                            accelerometer;
                            autoplay;
                            clipboard-write;
                            encrypted-media;
                            gyroscope;
                            picture-in-picture;
                            web-share;
                        "
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                    ></iframe>
                </figure>
            </div>
        </div>
    </div>
</div>
