$grid-breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$practice-image-inline-spacing-desktop: 40px;
$practice-image-inline-spacing-mobile: 20px;

$practice-section-gap-desktop: 120px;
$practice-section-gap-tablet: 96px;
$practice-section-gap-mobile: 72px;

$practice-content-gap-desktop: 30px;
$practice-content-gap-tablet: 24px;
$practice-content-gap-mobile: 20px;

$practice-title-size-desktop: 4.2rem;
$practice-title-size-tablet: 3.4rem;
$practice-title-size-mobile: 2.8rem;

$practice-body-size-desktop: 1.8rem;
$practice-body-size-tablet: 1.7rem;
$practice-body-size-mobile: 1.6rem;

$color-primary: #fd6038;
$color-secondary: #beccc7;
