<div class="blog">
    <div class="container">
        <section class="blog-heading">
            <p class="blog-tagline">blog</p>
            <h2 class="blog-title">Latest news feeds</h2>
        </section>
        <div class="row row-cols-2">
            <article class="col">
                <div class="blog-content">
                    <figure>
                        <img src="./img/img-blog/Rectangle 6089.png" alt="" />
                    </figure>
                    <div class="blog-desc">
                        <h3 class="blog-title">
                            Agency is the capacity of an actor to act in a given
                        </h3>
                        <p class="blog-date">DIECENER O6, 2021ADMN</p>
                        <p class="blog-sub-desc">
                            Agency is the capacity of an actor to act in a given
                            environment. It is the ability to make choices and
                            to take actions that have an effect on the world.
                        </p>
                    </div>
                </div>
                <div class="read-more">
                    <a href="#">Read more</a>
                </div>
            </article>

            <article class="col">
                <div class="blog-content">
                    <figure>
                        <img src="./img/img-blog/Rectangle 6090.png" alt="" />
                    </figure>
                    <div class="blog-desc">
                        <h3 class="blog-title">
                            Agency is the capacity of an actor to act in a given
                        </h3>
                        <p class="blog-date">DIECENER O6, 2021ADMN</p>
                        <p class="blog-sub-desc">
                            Agency is the capacity of an actor to act in a given
                            environment. It is the ability to make choices and
                            to take actions that have an effect on the world.
                        </p>
                    </div>

                    <div class="read-more">
                        <a href="#">Read more</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
