<div class="project black-bg">
    <div class="container">
        <section class="project-heading">
            <p class="project-tagline">our project</p>
            <h2 class="project-title">
                Excellent customer service and exceptional
            </h2>
        </section>

        <div class="project-grid">
            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6083.png" alt="" />
                </figure>
            </div>

            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6085.png" alt="" />
                </figure>
            </div>

            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6087.png" alt="" />
                </figure>
            </div>

            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6086.png" alt="" />
                </figure>
            </div>

            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6084.png" alt="" />
                </figure>
            </div>

            <div class="project-item">
                <figure>
                    <img src="./img/img-project/Rectangle 6088.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
