<div class="about black-bg">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-1 gx-lg-5 gx-sm-0 gy-4 gy-sm-4">
            <div class="col">
                <section class="about-content">
                    <p class="tag-line">About Us</p>
                    <h2 class="about-title">
                        We Specialize In Quality Home Renovations
                    </h2>
                    <p class="about-description">
                        Thene are many wariations of passages of Lorem lpsun
                        available, but the majority have sufered alteration in
                        some form, by injected humour. or randomised words
                        wihich don't look even sligitty believable. If you are
                        going to Se a pessage of Lorem lpsum.
                    </p>
                    <ul class="list-info">
                        <li class="list-item">
                            <span class="small-circle"
                                ><i class="fa-solid fa-check"></i
                            ></span>
                            <p>Outstanding property</p>
                        </li>
                        <li class="list-item">
                            <span class="small-circle">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <p>Professional and exparienced human rnsources</p>
                        </li>
                        <li class="list-item">
                            <span class="small-circle">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <p>Provide the best services for users</p>
                        </li>
                        <li class="list-item">
                            <span class="small-circle">
                                <i class="fa-solid fa-check"></i>
                            </span>
                            <p>Modern dty locations and exceptional lifestyle</p>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col">
                <figure>
                    <img src="./img/img-about/Rectangle 2.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>
