<div class="faq">
    <div class="container">
        <section class="faq-heading">
            <p class="faq-tagline">faq</p>
            <h2 class="faq-title">Frequently Asked Questions</h2>
        </section>
        <div class="row row-cols-1">
            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            Can I create ads for different platforms using ABQ
                            only?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            How does creating ads with ABQ help me in my
                            advertising processes?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            Is it any limit on the number of publishing ads in
                            ABQ?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            Can I use my own images in my designs?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            How can I cancel my subscription?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="faq-content">
                    <div class="sub-content">
                        <p class="faq-question">
                            How can I manage my inefficient ads that I have
                            identified with A/B testing?
                        </p>
                        <p class="faq-answer">
                            By easily connecting your different ad accounts to
                            WASK, you can publish your ads from a single screen.
                        </p>
                    </div>
                    <span class="small-circle">
                        <span class="height"></span>
                        <span class="width"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
