<div class="hero">
    <div class="container">
        <div
            class="row gx-5 gx-xl-5 row-cols-lg-2 gx-lg-4 row-cols-md-2 gx-md-5 row-cols-sm-1 gy-sm-4 gx-sm-0 row-cols-xs-1 gx-xs-0 gy-4"
        >
            <div class="col-6">
                <section class="hero-content">
                    <h1 class="hero-title">Find Your Dream Home Right Away.</h1>
                    <p class="hero-description">
                        The experience and commitment to rewarding landoawmers
                        with their dream architectural developments has made
                        them eam trust within and beyond borders.
                    </p>
                    <button class="btn btn-contact">
                        FIND PROPERTY
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </section>
            </div>
            <div class="col-6">
                <figure>
                    <img src="./img/img-hero/Rectangle 6078.png" alt="" />
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="sub-info">
                    <div class="sub-item">
                        <p>
                            <i class="fa-solid fa-location-dot"></i
                            ><b>Location</b>
                        </p>
                        <span>
                            Select Location
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <div class="sub-item">
                        <p>
                            <i class="fa-solid fa-house"></i>
                            <b>Property Type</b>
                        </p>
                        <span>
                            Choose Property Type
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <div class="sub-item">
                        <p>
                            <i class="fa-solid fa-wallet"></i>
                            <b>Price Range</b>
                        </p>
                        <span>
                            Choose Price
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </div>

                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
