<div class="team">
    <div class="container">
        <section class="team-heading">
            <h2 class="team-title">our team member</h2>
        </section>

        <div class="row row-cols-3 row-cols-lg-2 row-cols-sm-1 gy-4">
            <div class="col">
                <div class="content">
                    <figure>
                        <img src="./img/img-team/Rectangle 10.png" alt="" />
                    </figure>
                    <h3 class="title-name">DIANNE RUSSELL</h3>
                    <p class="title-position">CEO</p>
                    <ul class="info-list">
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-facebook-f"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-twitter"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="content">
                    <figure>
                        <img src="./img/img-team/Rectangle 11.png" alt="" />
                    </figure>
                    <h3 class="title-name">JENNIE WILSON</h3>
                    <p class="title-position">CEO</p>
                    <ul class="info-list">
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-facebook-f"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-twitter"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="content">
                    <figure>
                        <img src="./img/img-team/Rectangle 12.png" alt="" />
                    </figure>
                    <h3 class="title-name">BESSIE COOPER</h3>
                    <p class="title-position">CEO</p>
                    <ul class="info-list">
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-facebook-f"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-twitter"></i>
                            </span>
                        </li>
                        <li>
                            <span class="small-circle">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-view-more">View More</button>
            </div>
        </div>
    </div>
</div>
