<div class="properties">
    <div class="container">
        <section class="properties-heading">
            <p class="properties-tagline">properties</p>
            <h2 class="properties-title">
                Explore featured latest and properties
            </h2>
        </section>
        <div class="row row-cols-3 row-cols-lg-2 row-cols-sm-1 gx-sm-0 gy-4 gy-sm-4">
            <article class="col">
                <div class="properties-content">
                    <figure>
                        <img src="./img/img-pro/Rectangle 6079.png" alt="" />
                    </figure>
                    <div class="properties-sub-content">
                        <h3 class="properties-sub-title">$450,00</h3>
                        <p class="properties-description">
                            Luxury villa in rego apartment
                        </p>
                        <ul class="list-info">
                            <li class="list-item">
                                <i class="fa-solid fa-bed"></i>
                                3 bedroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-car-rear"></i>
                                2 bathroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-crop-simple"></i>
                                3400 Sq ft
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="properties-content">
                    <figure>
                        <img src="./img/img-pro/Rectangle 6080.png" alt="" />
                    </figure>
                    <div class="properties-sub-content">
                        <h3 class="properties-sub-title">$450,00</h3>
                        <p class="properties-description">
                            Luxury villa in rego apartment
                        </p>
                        <ul class="list-info">
                            <li class="list-item">
                                <i class="fa-solid fa-bed"></i>
                                3 bedroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-car-rear"></i>
                                2 bathroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-crop-simple"></i>
                                3400 Sq ft
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="properties-content">
                    <figure>
                        <img src="./img/img-pro/Rectangle 6081.png" alt="" />
                    </figure>
                    <div class="properties-sub-content">
                        <h3 class="properties-sub-title">$450,00</h3>
                        <p class="properties-description">
                            Luxury villa in rego apartment
                        </p>
                        <ul class="list-info">
                            <li class="list-item">
                                <i class="fa-solid fa-bed"></i>
                                3 bedroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-car-rear"></i>
                                2 bathroom
                            </li>
                            <li class="list-item">
                                <i class="fa-solid fa-crop-simple"></i>
                                3400 Sq ft
                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <div class="circle">
                <span class="small-circle"></span>
                <span class="small-circle"></span>
                <span class="small-circle"></span>
                <span class="small-circle"></span>
                <span class="small-circle"></span>
            </div>
        </div>
    </div>

    <div class="green-bg">
        <div class="container">
            <ul class="list-desc">
                <li class="sub-desc">
                    <h3>12K+</h3>
                    <p>Renovation Project</p>
                </li>
                <li class="sub-desc">
                    <h3>100+</h3>
                    <p>Team Members</p>
                </li>
                <li class="sub-desc">
                    <h3>15K+</h3>
                    <p>Project Completed</p>
                </li>
                <li class="sub-desc">
                    <h3>100%</h3>
                    <p>Satisfied Client</p>
                </li>
            </ul>
        </div>
    </div>
</div>
