<div class="service">
    <div class="container">
        <div class="service-heading">
            <p class="service-tagline">#Services</p>
            <h2 class="service-title">
                Specialists services provided in this apartment building
            </h2>
        </div>
        <div class="row row-cols-3 row-cols-lg-2 row-cols-sm-1 g-3">
            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18525.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Luxury Apartment</h3>
                        <p class="service-description">
                            Very professional, quick responses to calls, humble
                            and understanding. Marty has done a lot of work for
                            me and helped my friends and myself work through
                            some sticky issues.
                        </p>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18527.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Architecture Design</h3>
                        <p class="service-description">
                            Marty has done a lot of work for me and helped my
                            friends and myself work through some sticky issues.
                            His staff is professional and hard working! I
                            recommend anyone who.
                        </p>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18528.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Extra Security</h3>
                        <p class="service-description">
                            Very professional, quick responses to calls, humble
                            and understanding. Marty has done a lot of work for
                            me and helped my friends and myself work through
                            some sticky issues.
                        </p>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18529.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Home Remodeling</h3>
                        <p class="service-description">
                            Very professional, quick responses to calls, humble
                            and understanding. Marty has done a lot of work for
                            me and helped my friends and myself work through
                            some sticky issues.
                        </p>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18530.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Office Renovation</h3>
                        <p class="service-description">
                            Marty has done a lot of work for me and helped my
                            friends and myself work through some sticky issues.
                            His staff is professional and hard working! I
                            recommend anyone who.
                        </p>
                    </div>
                </div>
            </article>

            <article class="col">
                <div class="service-content">
                    <figure>
                        <img src="./img/img-service/Group 18528.png" alt="" />
                    </figure>
                    <div class="service-sub-content">
                        <h3 class="service-sub-title">Extra Security</h3>
                        <p class="service-description">
                            Very professional, quick responses to calls, humble
                            and understanding. Marty has done a lot of work for
                            me and helped my friends and myself work through
                            some sticky issues.
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
