<div class="wrapper cta green-bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <section class="cta-heading">
                    <p class="cta-tagline">#cta</p>
                    <h2 class="cta-title">Dealing With a Issue?</h2>
                    <p class="cta-desc">
                        Where every injury is personal. We are a different kind
                        of law firm. Let our small, passionate group of trial
                        lawyers fight for your rights!
                    </p>
                    <button class="btn-cta">Get a Consultations</button>
                </section>
            </div>
        </div>
    </div>
</div>
