<header class="header">
    <nav class="container">
        <div class="row">
            <div class="col-2">
                <a href="./index.html">
                    <figure><img src="./img/Logo/Logo.png" alt="Logo" /></figure>
                </a>
            </div>
            <div class="col-6">
                <input
                    type="checkbox"
                    id="nav-toggle"
                    class="nav-toggle"
                    hidden
                />
                <label for="nav-toggle" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <nav class="nav">
                    <ul class="sub-nav">
                        <li class="nav-item">
                            <a href="./index.html">Home</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <li class="nav-item">
                            <a href="./about.html">About</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <li class="nav-item">
                            <a href="./practice.html">Practice Area</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <li class="nav-item">
                            <a href="./blog.html">Blog</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </li>
                        <li class="nav-item">
                            <a href="./contact.html">Contact</a>
                            <i class="fa-solid fa-chevron-down"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-4">
                <div class="info-contact">
                    <span>call:&nbsp;<br /></span>
                    <a href="tel:000123456789">(000) 123 456 789</a>
                </div>
            </div>
        </div>
    </nav>
</header>
